*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn-primary{
    padding: 8px 10px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 3px;
    margin: 10px 10px;
}
.each-country{
    margin: 10px 16px;
}
h3{
    font-size:25px;
    margin-bottom: 15px;
}
.countries-flag img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.country-information{
    margin: 40px 0;
}
.info{
    margin: 10px 0;
    font-size:18px;
}
.top{
    margin-top: 80px;
}
span{
    font-weight: bold;
}
.b-country{
    padding: 8px 10px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 3px;
}
.border-countries{
    margin: 50px 16px;
}

@media (min-width: 658px) {
    .each-country{
        display: flex;
        justify-content: space-around;
    }
    .bottom-top{
        display: flex;
        gap: 50px;
    }
    .countries-flag img{
        width: 80%;
        max-width: 600px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .bottom{
        max-width: 400px;
    }
}

@media (min-width: 1024px) {
    .each-country{
        /* width: 100%; */
        display: flex;
        justify-content: space-around;
    }
    .bottom-top{
        display: flex;
        /* grid-template-columns: auto auto; */
        gap: 50px;
    }
    .countries-flag img{
        width: 100%;
        max-width: 700px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}